{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <h4 class="display-6 text-black">Log-in for {{ school.name }}</h4>
</div>

<div class="form-container" style="margin-top: 20px;">
    <h2>Login</h2>

    <!-- Display error messages if any -->
    {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Login form -->
    <form id="loginForm" method="post" action="{% url 'login' slug=school.slug %}">
        {% csrf_token %}

        <!-- Username, Email, or Mobile -->
        <label for="username_or_email_or_mobile">Username / Email / Mobile</label>
        <input type="text" id="username_or_email_or_mobile" name="username_or_email_or_mobile" required placeholder="Enter your username, email, or mobile" style="width: 100%;" value="{{ request.POST.username_or_email_or_mobile|default:'' }}">

        <!-- Password -->
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required placeholder="Enter your password">

        <!-- Submit Button -->
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </div>
    </form>
</div>

<div class="text-center mt-3">
    <button class="btn btn-reset" type="reset">
        <a href="{% url 'password_reset' %}">Forgot Password</a>
    </button>
</div>

{% endblock %}
