{% load static %}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/Orison.jpeg' %}" alt="Orison Logo" class="navbar-logo"
        style="width:150px;height: auto;border-radius: 50%;">
    </a>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
  {% if not user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
<!-- Show Schools dropdown only if the user is not authenticated -->
          <li class="nav-item dropdown" id="schoolDropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button"
               data-bs-toggle="dropdown">Schools</a>
            <ul class="dropdown-menu">
              <!-- List all schools in the dropdown -->
              {% for school in schools %}
                <li>
                  <a class="dropdown-item" href="{% url 'register' slug=school.slug %}">
                    <div class="btn btn-outline-primary">
                      <span>{{ school.name }}</span>
                    </div>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
      </ul>
<form class="d-flex" role="search" method="get" style="justify-content: center;">
        <input class="form-control me-2" type="text" name="query" id="searchInput" placeholder="Search..."
               style="width: 300px; height: 35px; font-size: 15px;" required>
        <button class="btn small-search-button" type="submit" style="border-color: white; color: white;">Search</button>
      </form>
        {% else %}
<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
{% if school %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'school_detail' slug=school.slug %}">Products</a>
            </li>
          {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>


      <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log-Out <i class="bi bi-box-arrow-right"></i>  </a></li>
    </ul>
      <a class="d-flex align-items-center ms-3" href="{% url 'cart_summary' slug=school.slug %}" class="position-relative">
                <i class="bi-cart-fill mb-1 position-relative" style="font-size: 20px;color: white;">
            <span
              class="badge bg-danger text-white ms-1 rounded-pill position-absolute top-0 start-100 translate-middle"
              id="cart_quantity" style="font-size: 10px;">
              {{ cart_count }}
            </span>
          </i>
            </a>


        {% endif %}







    </div>
  </div>
</nav>
<script>
  document.getElementById('schoolDropdown').addEventListener('mouseover', function() {
    var dropdownMenu = this.querySelector('.dropdown-menu');
    dropdownMenu.classList.add('show');
  });

  document.getElementById('schoolDropdown').addEventListener('mouseleave', function() {
    var dropdownMenu = this.querySelector('.dropdown-menu');
    dropdownMenu.classList.remove('show');
  });
</script>